<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAfxRUHQZegXGIIzETCUet2Q5wiUygnJp0</string>
	<key>GCM_SENDER_ID</key>
	<string>180035550195</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.sushiRestaurantApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>los-pollos-hermanos-app</string>
	<key>STORAGE_BUCKET</key>
	<string>los-pollos-hermanos-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:180035550195:ios:286aba6c744de36d1bf086</string>
</dict>
</plist>